@import "tailwindcss";

@theme {
  --color-brand: oklch(0.75 0.175 50);
  --color-brand-complementary: lch(from var(--color-brand) l c calc(h + 180));
  --color-brand-contrast: contrast-color(var(--color-brand));
  --color-brand-complementary-contrast: contrast-color(var(--color-brand-complementary));

  --spacing-normal: 2rem;
  --spacing-content: min(100%, 1280px);
}

@layer components {
}

@utility grid-container-subgrid {
  display: grid;
  grid-template-columns:
    [full-bleed-start left-space-start] 1fr
    [left-space-end content-start] var(--spacing-content)
    [content-end right-space-start] 1fr
    [right-space-end full-bleed-end];
}

@utility grid-container-subgrid-row {
  grid-column: content-start / content-end;
  padding-inline: var(--spacing-normal);
}

@utility grid-container-subgrid-row-full-bleed {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full-bleed; /* same as full-bleed-start / full-bleed-end; */
}
